/* E-commerce Home Styles - Brand Green Theme */

:host {
    display: block;
    width: 100%;
  }
  
  .ecommerce {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-light);
  }
  