<!-- Banner Section -->
<div class="container-custom-xxl">
  
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="assets/img/banners/banner.png" /></ng-template>  
    <ng-template carouselSlide><img src="assets/img/banners/banner.png" /></ng-template>  
    <ng-template carouselSlide><img src="assets/img/banners/banner.png" /></ng-template>  
  </owl-carousel-o>

  <!-- Brand Section -->
  <div class="brand-box">
    <h3 class="brand-title">Lựa chọn hãng</h3>
  
    <div class="brand-wrap">
      <div
        class="brand-item"
        *ngFor="let brand of brands"
        (click)="goToBrand(brand)"
      >
        <img [src]="brand.logo" [alt]="brand.name" />
      </div>
    </div>
  </div>
  
  <!-- Product List Section -->
  <section class="product-section">
    <div class="product-container">
      <h2 class="section-title">Sản phẩm nổi bật</h2>
      <div class="product-grid">
        <product-item *ngFor="let product of products" [product]="product"></product-item>
      </div>
    </div>
  </section>
</div>
